@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/* Global CSS Start */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel", serif;
}

p {
  line-height: 1.7;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  line-height: 1.5;
  margin-bottom: 3px;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

button,
input {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}



/* Global CSS End */


/*Header CSS Start */
.logo img {
  text-align: center;
  width: 100%;
  max-width: 300px;
  vertical-align: middle;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 9999;
  background-color: transparent;
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #fff;
  transition: all 0.3s ease-in-out;

}

.site-header.fixed-header {
  background-color: #097251;
  border-color: #097251;
}

.main-navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-navbar {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 30%;
  z-index: 100;
}
.desktop-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 6px 0;
}

.main-navbar ul li a {
  padding: 8px;
  display: inline-block;
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: normal;
  position: relative;
   font-size: 18px;
}
.main-navbar ul li a:after {
  display: block;
  content: '';
  border-bottom: solid 1px #bde902;
  transition: all 300ms ease-in-out;
  position: absolute;
  right: 0;
  top: 100%;
  width: 0%;
}

.main-navbar ul li a:hover:after,
.main-navbar ul li a.active:after {
  width:95%;
}

.main-navbar ul li a.active {
  color: #bde902;
}

.main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 35%;
  background-color: #097251;
  transform: translateX(-100%);
  transition: all 0.7s ease;
  z-index: 50;
  justify-content: flex-start;
  color: #fff;
  overflow: hidden;
}
.main-navbar ul {
  flex-direction: column;
  z-index: 50;
  width: 100%;
  justify-content: flex-start;
  padding: 80px 10px;
  align-items: flex-start;
  gap: 5px;
}
.menuToggle .main-navbar {
  transform: translateX(0);
}
.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  color: #bde902;
  text-align: end;
  z-index: 51;
  cursor: pointer;
  border: 1px solid #bde902;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s all ease;
}
.close-icon:hover {
  border-radius: 50%;
}

.menu-icon {
  color: #bde902;
  text-align: right;
  cursor: pointer;
  margin: auto 0;
  font-size: 30px;
  z-index: 60;
}
.menu-ikon {
  border: 1px solid #bde902;
  padding: 10px 15px;
  transition: 0.3s all ease-in-out;
}
.menu-ikon:hover {
border-radius: 50%;
}

/* Header CSS End */


/* Banner Section CSS Start */
.banner {
  position: relative;
  overflow: hidden;
}

.banner-image {
  height: 700px;
  width: 100%;
}

.banner-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0 0 0/60%);
  background-blend-mode: multiply;
  overflow: hidden;
}

.banner-text h1 {
  font-size: 70px;
  color: #fff;
  display: block;
  font-weight: 700;
  text-transform: capitalize;
  position: relative;
}

#app {
  text-align: center;
  font-size: 50px;
  background-color: #fff;
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Banner Section  CSS End */


/* Home Page Intro CSS Start */
.pages-intro-wrapper p {
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 18px;
}
/* Home Page Intro CSS End */

/* Home Page Featured Cards CSS Start */
.section-heading {
  font-size:55px;
  max-width: 1050px;
  margin: 0 auto;
}

.heading-like {
  font-weight: 600;
  color: #097251;
}

.home-page-featured-cards-wrapper h2 {
  color: #fff;
}

.home-page-featured-cards-section {
  background-image: url("../images/home-featured-cards-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  isolation: isolate;
  background-color: rgba(0 0 0/70%);
  background-blend-mode: multiply;
  overflow: hidden;
}

.subpage-exp-content {
  margin-top: 10px;
  display: none;
  padding: 0 0 15px 0;
}

.btn-darkred-block {
  background: #0648c9;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  line-height: normal;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 600;
}

.btn-darkred-block:hover {
  background: #fff;
  color: #000;
  border-color: #0648c9;
}

.external-pages-link-btn {
  color: #000;
  background-color: #fff;
  outline: none;
  padding: 10px 20px;
  line-height: normal;
  text-align: center;
  transition: 0.2s all ease-in-out;
  overflow: hidden;
  border: 1px solid #0648c9;
  font-weight: 600;
}

.external-pages-link-btn:hover {
  background: #0648c9;
  color: #fff;
}

.text-left {
  display: flex;
  gap: 10px;
  width: 100%;
}

.home-page-featured-cards {
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  background-color: #effaf6;
}

.home-page-featured-cards-group {
  margin-bottom: 15px;
}

.home-page-featured-cards-content {
  padding: 15px;
}

.home-page-featured-cards-group h3 {
  font-size: 25px;
  margin-bottom: 7px;
  font-weight: 700;
}

.dollar-bag,
.location {
  margin-right: 8px;
  color: #097251;
  font-size: 17px;
  animation: beat 1.7s linear infinite;
}
@keyframes beat {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }
}

.home-page-featured-cards-image {
  overflow: hidden;
  height: 250px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.home-page-featured-cards-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s all ease-in-out;
}

.home-page-featured-cards-image img:hover {
  transform: scale(1.2) rotate(3deg);
}

.home-page-featured-cards-group p {
  margin-bottom: 7px;
  font-size: 17px;
  font-weight: 500;
}

.home-page-featured-cards-group ul li {
  list-style: disc;
  margin-left: 16px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 500;
}

.home-page-featured-cards-group ul li:last-child {
  margin-bottom: 0;
}

/* Home Page Featured Cards CSS End */

/* Home Cards CSS Start */
.home-page-cards-section {
  background-image: url("../images/home-page-cards-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  isolation: isolate;
  background-color: rgba(0 0 0/70%);
  background-blend-mode: multiply;
  padding: 80px 0 50px 0;
  overflow: hidden;
}

.home-page-cards {
  position: relative;
  height: 300px;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  border: 3px solid #097251;
}

.home-page-cards-image {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.home-page-cards-image a {
  width: 100%;
  height: 100%;
}

.home-page-cards-image img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  transition: 0.7s all ease-in-out;
}

.home-page-cards:hover .home-page-cards-image img {
  transform: scale(1.1) rotate(3deg);
}

.home-page-cards-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0 0 0/50%);
  background-blend-mode: multiply;
}

.home-page-cards-content a {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

.home-page-cards-content a h3 {
  font-size: 35px;
  max-width: 170px;
  font-weight: 600;
}

/* Home Cards CSS End*/

/* Home Page Signup CSS Start */
.pages-signup-section {
  padding: 40px 0;
}

.pages-signup-wrapper {
  text-align: center;
  border: 5px double #097251;
  padding: 30px 0;
}

.pages-signup-input-wrapper {
  padding-top: 20px;
  margin: 0 auto;
}

input.pages-signup-input {
  width: 40%;
  display: inline-block;
  font-size: 16px;
  padding: 9px 10px;
  outline: none;
  border: 1px solid #097251;
  line-height: 16px;
}

.pages-signup-submit-button {
  display: inline-block;
  background: #0648c9;
  padding: 9px 25px;
  font-size: 16px;
  color: #fff;
  outline: none;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid transparent;
  transition: 0.3s all ease-in-out;
  line-height: 16px;
}

.pages-signup-submit-button:hover {
  background-color: #fff;
  border-color: #0648c9;
  color: #000;
}

.pages-signup-wrapper h3 {
  font-size: 25px;
  max-width: 800px;
  margin: 0 auto;
  line-height: normal;
  font-weight: 700;
}

/* Home Page Signup CSS End */

/* Home Page Why Choose Us CSS Start */
.why-choose-us-section{
  background-image: url("../images/why-choose-us-bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  isolation: isolate;
  background-color: rgba(0 0 0/70%);
  background-blend-mode: multiply;
}
.why-choose-us-wrapper h2 {
  color: #fff;
}

.why-choose-us-cards {
  margin-bottom: 25px;
  overflow: hidden;
  padding: 20px;
  background: #fff;
  border: 5px solid #097251;
  border-radius: 20px;
}
.why-choose-us-card-image {
  width: 100%;
  max-height: 250px;
  height: 100%;
}
.why-choose-us-card-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.why-choose-us-card-content h3{
  height: 100%;
  width: 100%;
}
.why-choose-us-card-content h3 {
  font-size: 40px;
}
.why-choose-us-card-content p {
  font-weight: 500;
  font-size: 18px;
}

/* Home Page Why Choose Us CSS End */

/* Page Blog Cards CSS Start */
.pages-blog-cards-section{
  padding: 80px 0;
  overflow: hidden;
  background: linear-gradient(to top, #097251,#2aab82);
}
.blog-cards-wrapper h2 {
  color: #fff;
}
.blog-cards-wrapper p {
  color: #fff;
  font-weight:500 ;
}


.page-blog-cards {
  position: relative;
  overflow: hidden;
  background-color: rgba(0 0 0/60%);
  background-blend-mode: multiply;
  border: 5px solid #bde902;
  height: 300px;
  overflow: hidden;
}

.blog-cards-content h3 {
  font-size: 25px;
  font-weight: 900;
  color: #fff;
}

.blog-cards-content p {
  font-size: 15px;
  color: #fff;
}

.blog-card-btn {
  color: #fff;
    background: #0648c9;
  outline: none;
  padding: 10px 20px;
  line-height: normal;
  text-align: center;
  transition: 0.4s all ease-in-out;
  overflow: hidden;
  border: 1px solid transparent;
  font-weight: 600;
  margin: 10px auto;
}

.blog-card-btn:hover {
  background: #fff;
  color: #000;
  border-color: #0648c9;
}

.blog-cards-content {
  padding: 20px;
  position: absolute;
  background: rgba(0 0 0/60%);
  background-blend-mode: multiply;
  top: 100%;
  height: 100%;
  width: 100%;
  right: 100%;
  transition: 0.5s all ease-in-out;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.page-blog-cards:hover .blog-cards-content {
  top: 30%;
  right: 0;
  opacity: 1;
  visibility: visible;
}

.blog-cards-image {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.blog-cards-image img {
  transition: 0.5s all ease-in-out;
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
}

.page-blog-cards:hover .blog-cards-image img {
  transform: scale(1.1) rotate(2deg);
}

/* Page Blog Cards CSS End */


/* Pages Accordion Section CSS Start  */
.accordion-button::after {
  flex-shrink: 0;
  content: "\f067";
  font-family: "FontAwesome";
  background-image: none;
  background-repeat: no-repeat;
min-width: 30px;
text-align: center;
vertical-align: middle;
}

.accordion-button:not(.collapsed)::after {
  content: "\f068";
  font-family: "FontAwesome";
  background-image: none;
  transform: rotate(0);
  background: transparent;
}

.accordion {
  --bs-accordion-btn-icon-transform: rotate(0);
}

.accordion-button:not(.collapsed) {
   background: #097251;
  box-shadow: none;
  color: #fff;
  font-weight: 600;
}

.accordion-item:first-of-type>.accordion-header .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion-button {
  color: #fff;
  font-weight: 600;
  background: rgb(9, 114, 81);
}

.accordion {
  --bs-accordion-border-color: none;
}

.accordion-item {
  margin-bottom: 12px;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-item:last-of-type {
  border-radius: 0;
}

.accordion-item:first-of-type {
  border-radius: 0;
}

.accordion-body {
  background-color: #fff;
  font-weight: 500;
  font-size: 17px;
}

/* Pages Accordion Section CSS End  */

/* Footer CSS Start */
.footer {
  background-image: url("../images/footer-bg.jpg");
  background-color: rgba(0 0 0/75%);
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 30px;
  overflow: hidden;
}

.logo-bottom img {
  width: 100%;
  max-width: 300px;
}

.footer-items {
  width: 30%;
  padding: 0 20px;
}


.footer-items h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 12px;
  color:#bde902 ;
}

.footer-items .social-icons {
  width: 100%;
  margin: 7px auto;
}


.footer-items ul li a {
  padding: 3px 0;
  color: #fff;
}

.footer .footer-items ul li a {
  transition: 0.6s all ease;
  font-size: 17px;
  position: relative;
}


.footer .footer-items ul li a:after {
  display: block;
  content: '';
  border-bottom: solid 1px #bde902;
  transition: all 300ms ease-in-out;
  position: absolute;
  right: 0;
  top: 100%;
  width: 0%;
}


.footer .footer-items ul li a:hover:after {
  width: 100%;
}


.copyright {
  padding: 15px 0;
  text-align: center;
  margin: auto 0;
  border-top: 1px solid #bde902;
}

.copyright p {
  color: #fff;
  text-align: center;
  font-size: 18px;
}

/* Footer CSS End */

/* Social Icons CSS Start */
.social-icons {
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  margin: 10px auto;

}

.social-icons i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 17px;
  background-color: #fffcfc;
 color: #000;
  line-height: normal;
  margin: 0 1px;
  transition: 0.3s all ease-in-out;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.social-icons i:hover {
  background: linear-gradient(45deg, #bde902,#0d9e70);

  transform: translateX(2px);
}

/* Social Icons CSS End */

/* Pages CSS Start */
.pages-banner-image{
  height: 600px;
}
.pages-cards-section{
  background-image: url("../images/pages-cards-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  isolation: isolate;
  background-color: rgba(0 0 0/70%);
  background-blend-mode: multiply;
}
.pages-cards-wrapper h2 {
  color: #fff;
}
.pages-cards {
  background: #fff;
  padding: 20px;
  margin-bottom: 35px;
  border-radius: 5px;
  overflow: hidden;
  border-image: linear-gradient(180deg, #0d9e70 30%, #bde902 80%) 1;
  border-width: 6px;
  border-style: solid;
}
.pages-cards-image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}
.pages-cards-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  transition: 0.4s all ease-in-out;
}
.pages-cards-image img:hover{
transform: scale(1.2)rotate(-3deg);
}
.pages-cards-content{
  padding: 10px;
}
.pages-cards-group {
  margin-bottom: 15px;
}
.pages-cards-group h3 {
  font-size: 25px;
  margin-bottom: 7px;
  font-weight: 700;
}
.pages-cards-group p {
  margin-bottom: 7px;
    font-weight: 500;
  font-size: 17px;
}
.pages-cards-group ul li {
  list-style: disc;
  margin-left: 16px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 17px;
}


.pages-cards-group ul li:last-child {
  margin-bottom: 0;
}
/* Pages CSS End*/


/* Other Pages CSS Start */
.privacy-policy-group,.terms-conditions-group{
  margin-bottom: 30px;
  box-shadow: rgba(9, 114, 81, 0.25) 0px 20px 25px,rgba(9, 114, 81, 0.12) 0px -12px 150px, rgba(9, 114, 81, 0.12) 0px 4px 6px,rgba(9, 114, 81, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px;
  border-radius: 10px;
}
.privacy-policy-group:last-child,.terms-conditions-group:last-child
{
  margin-bottom: 0;
}
.privacy-policy-group h3 ,.terms-conditions-group h3 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #000;
}
.privacy-policy-group h4 ,.terms-conditions-group h4 {
   margin-bottom: 10px;
  font-weight: 600;
  color: #000;
}
.privacy-policy-group p ,.terms-conditions-group p {
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.7;
  color: #000;
}
.terms-conditions-group ul li{
  list-style-type: disc;
  margin-left: 16px;
  margin-bottom: 8px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  color: #000;
}
/* Other Pages CSS End */

/* Blog Pages CSS Start */
.blog-page-cards {
  margin-bottom: 30px;
  padding: 20px;
  min-height: 200px;
  box-shadow: rgba(9, 114, 81, 0.25) 0px 20px 25px,rgba(9, 114, 81, 0.12) 0px -12px 150px, rgba(9, 114, 81, 0.12) 0px 4px 6px,rgba(9, 114, 81, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius:8px ;
}


.blog-page-cards-wrapper>h2 {
  font-size: 50px;
  border: 1px solid #2a9875;
  padding: 10px;
  color: #097251;
}

.blog-page-cards-wrapper p {
  max-width: 950px;
  margin: auto;
  font-size:17px;
  font-weight: 500;
}

/* Blog Pages CSS End */






/* Cookies CSS Start */
.wrapper {
  position: fixed;
  bottom: -100%;
  width: 100%;
  background-color:#097251;
  padding: 15px 25px 22px;
  transition: all 1s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.wrapper.show {
  bottom: 0;
}

.info {
  margin-bottom: 15px;
}

.info p {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.button {
  width: calc(30% / 2 - 10px);
  padding: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: #FFF;
  color: #000;
  cursor: pointer;
  transition: all 0.7s ease;
  font-weight: 600;
  border: 1px solid #fff;
}

.button:hover {
  color: #000;
  border-color:#000;
}

/* Cookies CSS End */


